<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUDIN DE PAN:</title>
><link rel="stylesheet" href="../css/sytle.css">
</head>
<body>
<h1>Budin de pan</h1>  
<img src="../img/budin_de_pan_casero_52015_600.jpg" width="500px" height="250px" alt="">
</div>
<P>Delicioso budin<hr>
<br>
</div>
<h2>LISTA DE INGREDIENTES:</h2>
<h2>
<ul>
<li>300 g de pan (puede estar gomoso o seco)</li>
<li>litro de leche</li>
<li>250 g de azúcar</li>
<li>Ralladura de 1 limón</li>
<li>huevos</li>
<h3>PARA EL CARAMELO:</h3></html>
<li>1 taza de azúcar</li>
<li>1/2 taza de agua</li>
<h3>PASOS A SEGUIR:<h3>
<ol type="i">
<li>Preparar el pan y la leche. Cortá el pan en trozos pequeños y colocalos en la licuadora con la leche tibia. Dejá que se hidraten durante media hora.</li>
<li>Preparar el caramelo. En una olla antiadherente, derretí el azúcar y, aparte, herví medio vaso de agua. Una vez derretido el azúcar, retiralo del fuego y añadí el agua caliente, mezclando hasta integrar. Vertí el caramelo en el molde, cubriendo bien el fondo y los bordes.
<li>Licuar y mezclar. Licuá el pan y la leche hasta obtener una crema uniforme. Agregá el azúcar, los huevos y volvé a licuar para integrar. Luego, agregá la ralladura de limón (y esencia de vainilla si deseás) y, si está muy espeso, agregale un poco más de leche.</li>
<li> Cocinar a baño maría. Vertí la mezcla en el molde acaramelado, cubrí con papel manteca para evitar que se seque. Cociná a baño maría en el horno a 160ºC durante una hora. Dejá enfriar antes de desmoldar y servir.</li>
</ol>
<hr>
<!--RUTA GLOBAL-->
<a href="https://www.paulinacocina.net/budin-de-pan-4-pasos/10866 " target="_blank"budin de pan>/a>
<!--RUTA LOCAL-->
<a href="receta2.HTML"target="_blanck leer receta<a>
<!--RUTA LOCAL-->
<a href="../../index.html">volver al inicio</a>
<body
</html>