<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Gramajo</title>
</head>
<body>
<h1>Revuelto de gramajo</h1> 
<p>receta super rica
<H2>LISTA DE INGREDIENTES:</H2>
<ul>
<li>½ kg de papa</li>
<li>1 cebolla medianas</li>
<li>1 cebolla de verdeo pequeña</li>
<li>½ pimiento morrón</li>
<li>2 dientes de ajo</li>
<li>100 gr de jamón cocido</li>
<li>4 huevos</li>
<li>Un puñado de arvejas
<li>Perejil</li>
<li>Pimienta</li>
<li>Aceite de oliva</li>
<li>Aceite para freír</li>
<ul>
</H3>LISTA DE PASOS:<h3>
</ol>
<li>Cortar las papas en tiras finas y freír. Tienen que quedar como las papas pay. Reservar.</li>
<li>Cortar las cebollas y los morrones en tiritas, la cebolla de verdeo fina y saltear en una sartén con aceite de oliva hasta que la cebolla quede transparente.
<li>Picar el ajo bien chiquito y el jamón en tiras. Sumar a la mezcla anterior y condimentar a gusto.</li>
<li>En un bol aparte batir los huevos. Sumar a la preparación e incorporar bien. Sumar las papas ya fritas junto con las</li>
<li>Al momento de servir espolvorear con perejil picado fino.</li>
</ol>
<hr>
<!--RUTA GLOBAL-->
<a target="_blank" href="//www.paulinacocina.net/revuelto-gramajo/26511 target=_blank>Revuelto de gramajo</a>
<!--RUTA LOCAL-->
<a href="https://www.paulinacocina.net/revuelto-gramajo/26511
<!GLOBAL-->
<a href="/../../index.html">Volver al inicio </a>
</body>
</html>